.dc-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.dc-html {
  flex: none;
}

.dc-pre-wrapper {
  flex: none;
  /* position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}